.intro-header .page-heading {
    text-align: start !important;
}

.navbar-custom .navbar-brand, .navbar-custom .navbar-nav .nav-item {
    font-weight: 600 !important;
    text-transform: none !important;
    font-size: inherit !important;
}